* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  width: 500px;
  padding: 15px;
  margin: 15px auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 15px;
  background: lightgray;
}



.arrow {
  display: block;
  padding: 0;

  border: 1px solid gray;
  border-radius: 15px;
  background: #ddd;
  line-height: 24px;
  font-size: 24px;
  color: #444;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}



.carousel {
  width: 390px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* border: 1px solid red; */
}



ul {
  width: max-content;
  height: 130px;

  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 0;

  /* border: 1px solid green; */
}

ul li {
  /* Allows lis to sit in a horizontal row */
  display: inline-block; 
}

ul img {
  display: block; 
  width: 130px;
  height: 130px;
}














